<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <title>Navbar Honey App</title>
</head>
<body>
    <div id="navbar">
        <ul>
            <li id="shop">
                <img src="../assets/img/logo.png" alt="Shop icon">
                <a href="#">SHOP</a>
            </li>
            <div class="nav-buttons">
                <li><a href="#">Our Honey</a></li>
                <li><a href="#">Trace Honey</a></li>
                <li><a href="#">Facilities</a></li>
                <li><a href="#">Contacts</a></li>
            </div>
        </ul>
    </div>
</body>
</html>